
/*----------------------------------------------------------------
	GLOBAL
------------------------------------------------------------------*/

/*Taille par défaut de la police*/
/*Couleur = intitulés des checkboxes dans le questionnaire*/

* {
	font-family:"Arial", Arial, sans-serif;
	font-size:13px;
	color:#33332F;
}

.clearfix { clear:both; }

small {
	font-size:0.8em;
	color:inherit;
}
strong {
	font-size:inherit;
	font-weight:bold;
}

var {
	font-size:1em;
	font-style:normal;
	color:inherit;
	}

a { color:#50A5D7; /* Couleur des liens*/
	text-decoration:underline; }
	a:hover { color:#036CAA; }

p {
	margin:10px 0;
	text-align:justify;
	color: #33332F;    /*Couleur par défaut du texte*/
}

ul {
	margin:10px 0;
}

li {
	list-style:disc inside;
	margin:5px 10px;
	text-align:justify;
}


/*----------------------------------------------------------------
	LAYOUT
------------------------------------------------------------------*/


h1, h2, h3, h4, h5, h6 {
	display:block;
	margin:0 0 10px 0;
	font-weight:bold;
}

h1 {    /* Les questions en haut de la page. */
	letter-spacing: -1px;
	font-weight: bold;
	color:#036CAA;
	font-size:2.4em;
	text-shadow: 0px 1px 1px #DFDFDF;
}

h2 {   /*Les noms des usages - Parent de usageTitle > Voir pour r�soudre les conflits d'h�ritage. Nouveau style pour h2 : qname.h2 ? */
	font-size:1.5em;
	color: #50A5D7;
	margin:0 0 5px 0;
	text-shadow: 0px 1px 1px white;
}

h3 {   /*La question lorsqu'on d�roule un usage - Parent de usageSubQuestion*/
	font-size:1.4em;
	color:#4B4B4B;
}

h4 { font-size:1.2em; }

h5 {
	font-size:1.1em;
	color:#638EBC;
}

/* Textes explicatifs sous le titre de la page*/

p.explain {
	font-style:italic;
	color:#4B4B4B;
	margin:5px 0;
}


/*----------------------------------------------------------------
	LAYOUT
------------------------------------------------------------------*/

body, html {
	background-color:#E5E5E5; /*Fond de la page*/
}

#main {
	width:910px;
	padding:25px 25px 20px 25px;
	margin:0px auto; /*Centre le container sur la verticale de la page*/
  background-color:white;
  -webkit-border-radius:12px;
	-khtml-border-radius:12px;
	-moz-border-radius:12px;
	-o-border-radius:12px;
  border-radius:12px;
  behavior: url(/stylesheets/PIE.htc);
	position: relative;
}

.error {
 color: #ff0000;
 font-weight: bold;
    }

