<h1><%= t_safe  "form_#{page_number}_step_title"%></h1>
<p class="explain usageSubtitle"><%= t_safe "form_#{page_number}_step_subtitle" %></p>
<div class="sideinfo" id="myFormInfoContainer">
  <%= t_safe "form_#{page_number}_step_sideinfo" %>
</div>
