<%= stylesheet_link_tag 'home' %>

<div id="home">
  <div class="wrapper">
    <%= link_to form_first_step_path, :id => "start_wizard", :class => "no_underline" do %>
      <div class="start_wizard_button">Trouvez votre PC</div>
    <% end -%>
  </div> 
</div> 
